.archiveHeaderWrapper {
  align-items: center;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  padding: 12px 24px;
  border-bottom: 2px solid var(--sds-eng-Border-borderBase, #060a0c1a);
  display: flex;
  justify-content: space-between;
}

.archiveHeaderWrapper h2 {
  flex-shrink: 0;
  white-space: nowrap;
}

.archiveHeaderSearch {
  width: 100%;
  justify-self: center;
}

.archiveHeaderControls {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.archiveHeaderControls button {
  flex-shrink: 0;
}
