.archiveFooterWrapper {
  display: flex;
  gap: 16px;
  margin-top: auto;
  width: 100%;
  justify-content: flex-end;
}

.archiveStepWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
}

.archiveStepWrapperFullWidth {
  max-width: 100%;
}

.archiveStepItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.archiveStepInputDataTopicWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
}

.archiveStepInputDataTopic {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.archiveStepInputDataTopicButton {
  width: fit-content !important;
}

.archiveStepInputDataSegment {
  width: 100% !important;
}

.archiveStepInputDataSegmentText {
  justify-content: center;
}

.archiveStepLimitsWrapper {
  display: flex;
}

div.archiveStepLimitsInputWrapper {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.archiveStepLimitsInputWrapper * {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.archiveStepLimitsSelectWrapper {
  width: 150px;
  flex-shrink: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

div.archiveStepLimitsSelectWrapper * {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.archiveStepLimitsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 54px;
}

@media (max-width: 1199px) {
  .archiveStepLimitsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 54px;
  }
}

div.archiveStepLimitsStatusCard {
  justify-content: center;
}

.archiveStepSchemaActiveWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.archiveStepSchemaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 80px;
}

.archiveStepSchemaDateGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
}

.archiveStepSchemaDateGridHeader {
  border-bottom: 2px solid var(--sds-eng-Border-borderIntence, #060a0c1f);
}

.archiveStepSchemaDateGridHeaderText {
  padding: 16px 12px;
  color: var(--sds-eng-Foreground-foreSecondary, #13181b8f);
}

.archiveStepSchemaGrid[data-active='true'],
.archiveStepSchemaDateGrid[data-active='true'] {
  background-color: var(--sds-eng-Background-surfaceSecondary, #060a0c0f);
}

.archiveStepSchemaEmptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
}

.archiveStepSchemaAccordionWrapper {
  padding: 14px 8px 8px;
  border: 1px solid var(--sds-eng-Border-borderIntence, #060a0c1f);
  border-radius: 4px;
}

.archiveIndexInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
.archiveIndexTimeInfo {
  display: flex;
  align-items: flex-start;
  padding-bottom: 24px;
  justify-content: space-between;
}
.archiveIndexDataInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}
