.archiveLimitsTableInfoText {
  text-align: left;
}

.archiveLimitsTableInfoSpan {
  display: inline-block;
  height: 20px;
}

.archiveLimitsTable {
  border-collapse: collapse;
}

.archiveLimitsTable td {
  border: 1px solid var(--sds-eng-Border-borderIntence, #060a0c1f);
  padding: 10px 12px;
  text-align: left;
  vertical-align: middle;
}

.archiveLimitsTable th {
  padding: 0 0 8px 0;
}

.archiveLimitsTable tr {
  min-height: 46px;
  height: 46px;
  max-height: 46px;
}

th.archiveLimitsTableHeaderBorder {
  padding: 8px 0;
  border: 1px solid var(--sds-eng-Border-borderIntence, #060a0c1f);
}
