.archiveSchemaGrid {
  display: grid;
}

.archiveSchemaDateGridHeader {
  border-bottom: 2px solid var(--sds-eng-Border-borderIntence, #060a0c1f);
}

.archiveSchemaDateGridHeaderText {
  padding: 16px 12px;
  color: var(--sds-eng-Foreground-foreSecondary, #13181b8f);
}

.archiveSchemaGrid[data-active='true'] {
  background-color: var(--sds-eng-Background-surfaceSecondary, #060a0c0f);
}

.archiveSchemaEmptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
}
